/* universal styles */
* {
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.section-title {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px;
}

.btn-primary {
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
}

main section {
    padding: 130px 150px;
}

/* header banner styles */
.header{
    background: rgba(229, 84, 115, 0.10);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}
.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav ul{
    display: flex;
    align-items: center;
}
ul a{
    text-decoration: none;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.banner {
    display: flex;
    padding: 30px 90px 0px 90px;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 500px;
}

.banner-content .banner-title {
    color: #272727;
    font-size: 50px;
    font-weight: 800;
}

.banner .banner-image {
    width: 500px;
}

.hot-deal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(229, 84, 115, 0.05);
    /* padding: 100px 150px; */
}

.deal-content {
    text-align: center;
    width: 500px;
}

.instagram {
    text-align: center;
    /* margin: 50px 0px; */
}

.insta-container {
    display: flex;
    justify-content: center;
}

.insta-container .insta-img {
    width: 200px;
    height: 250px;
    margin: 10px;

}

.newsletter {
    text-align: center;
    background-image: url('../images/Rectangle\ 9.png');
    margin: 0px 150px 130px 150px;
    background-repeat: no-repeat;
}

.contact {
    display: flex;
    margin-top: 30px;
}

.contact input[type='email'] {
    padding: 18px 35px;
    border-radius: 5px;
    border: 0;
    background: #FFF;
    width: 60%;
    color: rgba(39, 39, 39, 0.60);
    font-size: 16px;
    font-weight: 400;
    height: 34px;
    margin-right: 10px;
    align-items: center;
}

.footer {
    text-align: center;
    background: #111010;
    padding: 130px 350px;
}

.footer-content #footer-title {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
}

.footer-content #footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0px 20px 0px;
}

#copyright {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;
}

.span-color {
    color: #E55473;
}

.f-des {
    text-align: center;
    margin: 20px 230px;

}

.flowers {
    display: flex;
    justify-content: space-around;
}

.flower-image {
    width: 320px;
    height: 420px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    position: relative;
}

.f-img {
    width: 80%;
    height: 80%;
    position: absolute;
    bottom: 0px;
    left: 10px;
    display: block;
}

.f-title {
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-top: 20px;
}

.icon-content {
    display: flex;
    justify-content: space-around;
    background: rgba(39, 39, 39, 0.05);
    padding: 100px 0;
    margin-top: 130px;
    text-align: center;
}

.icon-description {
    color: rgba(39, 39, 39, 0.80);
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
}